.projeto{
    height: 200px;
    margin: 16px;
    text-align: center;
    width: 200px;

    //add mixin border
    @include border(myComplement($icterine),10px, 'small');

    //screen small
    @include sm{
        margin-left: auto;
        margin-right: auto;
    }

    .info{
        background-color: $white;
        height: 100%;
        width: 100%;
    }

    h2{
        padding: 16px;
    }

    p{
        padding: 0 8px 0 8px;
    }

    hr{
        margin: 16px 0 16px 0;
    }

}

//highligth project 
.destaque{
    //add mixin border
    @include border(myComplement($sky-blue),10px, 'normal');
}

a{
    &:link{
        color: $emerald;
        text-decoration: inherit;
    }
}

//style for header and footer
%section{
    align-items: center;
    background-color: $white;
    display: flex;
    color: $primary-color;
    justify-content: center;
    padding: 50px 0 50px 0;
    text-align: center;

    //screen middle
    @include md{
        display: block;
        
        .info{
            margin-left: 0;
        }
    }
}