//body
body {
    background-color: $ligth-color;
    font-family: $font-text;
}

//header
#header{

    .foto{
        border: 8px myComplement($icterine) solid;
        border-radius: 50%;
        width: 15%;

        //screen small
        @include sm{
            width: 40%;
        }
    }

    .info{
        margin-left: 104px;
    }

    h1{
        font-size: 2.4em;
        padding-bottom: 16px;

        @include sm{
            font-size: 1.5em;
            margin-top: 20px;
        }
    }

    h3{
        font-weight: normal;
        padding-bottom: 8px;
    }

    a{
        padding: 0 8px 0 8px;
    }

    @extend %section;

}
//projetos
#projetos{
    display: flex;
    justify-content: center;

    //screen small
    @include sm{
        display: block;
    }
}

//footer
#footer{
    background-color: $white;
    
    @extend %section;
    
    //screen small
    @include sm{
        font-size: 1em;
    }
}